<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})"> 
<head>
<meta charset="ISO-8859-1">
<title>This is Home Page</title>
</head>
<body>
	<section>
	<h3> Change Password form  !!</h3>
	
	<form action="#" th:object="${changepassword}" method="post" th:action="@{/user/process-change-password}">
	  	<div class="form-group mt-5 mr-1">
	    	<label for="exampleInputEmail1">Enter your current password </label>
	    	<input required type="password" class="form-control" id="oldpass" name="oldpass" aria-describedby="emailHelp ">
	    	
	  	</div>
	  	<div class="form-group mr-1">
	    	<label for="exampleInputPassword1">Enter new password</label>
	    	<input required type="password" class="form-control" id="newpass" name="newpass">
	    	<small id="emailHelp" class="form-text text-muted">Your password is stored with us securely.</small>
	  	</div>
	  	
	  	<div class="form-group mr-1">
	    	<label for="exampleInputPassword1">Confirm new password</label>
	    	<input required type="password" class="form-control" id="retypenewpass" name="retypenewpass">
	    	
	  	</div>
	  	
 	 	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
    </section>
</body>
</html>